## Handling Imbalanced Dataset

1. Up Sampling
2. Down Sampling

In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(123)

In [3]:
#create a dataframe with two class
n_sample=1000
class_0_ratio=0.9
class0= int(n_sample*class_0_ratio)
class1= n_sample-class0

In [4]:
class0 , class1

(900, 100)

In [ ]:
#create a dataframe with imbalance datasets

class0= pd.DataFrame({
    "feature1": np.random.normal(loc=0, scale=1, size=class0),
    "feature2": np.random.normal(loc=5, scale=1, size=class0),
    "target": np.zeros(class0, dtype=int) 
})

class1= pd.DataFrame({
    "feature1": np.random.normal(loc=2, scale=1, size=class1),
    "feature2": np.random.normal(loc=2, scale=1, size=class1),
    "target": np.ones(class1, dtype=int)
})

In [9]:
class0, class1

(     feature1  feature2  target
 0   -1.085631  5.551302       0
 1    0.997345  5.419589       0
 2    0.282978  6.815652       0
 3   -1.506295  4.747250       0
 4   -0.578600  4.707996       0
 ..        ...       ...     ...
 895  0.238761  4.996845       0
 896 -1.106386  4.569340       0
 897  0.366732  4.853584       0
 898  1.023906  6.160176       0
 899 -0.210056  4.358488       0

 [900 rows x 3 columns],
     feature1  feature2  target
 0   1.699768  2.139033       1
 1   1.367739  2.025577       1
 2   1.795683  1.803557       1
 3   2.213696  3.312255       1
 4   3.033878  3.187417       1
 ..       ...       ...     ...
 95  1.376371  2.845701       1
 96  2.239810  0.880077       1
 97  1.131760  1.640703       1
 98  2.902006  0.390305       1
 99  2.697490  2.013570       1

 [100 rows x 3 columns])

In [6]:
df=pd.concat([class0, class1]).reset_index(drop=True)
df

     feature1  feature2  target
0   -1.085631  5.551302       0
1    0.997345  5.419589       0
2    0.282978  6.815652       0
3   -1.506295  4.747250       0
4   -0.578600  4.707996       0
..        ...       ...     ...
995  1.376371  2.845701       1
996  2.239810  0.880077       1
997  1.131760  1.640703       1
998  2.902006  0.390305       1
999  2.697490  2.013570       1

[1000 rows x 3 columns]

In [ ]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [14]:
df_majority=df[df['target']==0]
df_minority=df[df['target']==1]

In [19]:
%pip install -U scikit-learn

Requirement already satisfied: scikit-learn in /Users/ramchandraghmire/Desktop/Data Analysis/venv/lib/python3.9/site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in /Users/ramchandraghmire/Desktop/Data Analysis/venv/lib/python3.9/site-packages (from scikit-learn) (2.0.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Users/ramchandraghmire/Desktop/Data Analysis/venv/lib/python3.9/site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: joblib>=1.2.0 in /Users/ramchandraghmire/Desktop/Data Analysis/venv/lib/python3.9/site-packages (from scikit-learn) (1.5.2)
Requirement already satisfied: scipy>=1.6.0 in /Users/ramchandraghmire/Desktop/Data Analysis/venv/lib/python3.9/site-packages (from scikit-learn) (1.13.1)
WARNING: You are using pip version 21.2.4; however, version 25.2 is available.
You should consider upgrading via the '/Users/ramchandraghmire/Desktop/Data Analysis/venv/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [ ]:
from sklearn.utils import resample

In [ ]:
#upsample minority class

df_minority_resampled = resample(df_minority, replace=True
         , n_samples=len(df_majority),
         random_state=123)

In [28]:
df_minority_resampled['target'].value_counts()

target
1    900
Name: count, dtype: int64

In [34]:
df_minority_resampled

     feature1  feature2  target
966  0.671933  1.370988       1
992  2.196570  1.397425       1
998  2.902006  0.390305       1
917  2.197269  4.216788       1
983  2.844335  2.015572       1
..        ...       ...     ...
912  2.834499  2.773754       1
983  2.844335  2.015572       1
917  2.197269  4.216788       1
950  2.399896 -0.840847       1
949  2.944820  1.277924       1

[900 rows x 3 columns]

In [31]:
df_upsampled= pd.concat([df_majority, df_minority_resampled])
df

     feature1  feature2  target
0   -1.085631  5.551302       0
1    0.997345  5.419589       0
2    0.282978  6.815652       0
3   -1.506295  4.747250       0
4   -0.578600  4.707996       0
..        ...       ...     ...
995  1.376371  2.845701       1
996  2.239810  0.880077       1
997  1.131760  1.640703       1
998  2.902006  0.390305       1
999  2.697490  2.013570       1

[1000 rows x 3 columns]

In [38]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

### Downsampling
* It is bad because it will we will loose data

In [46]:
#downsampling majority class

df_majority_resampled = resample(df_majority, replace=False
         , n_samples=len(df_minority),
         random_state=123)

In [47]:
df_downsampled= pd.concat([df_majority_resampled, df_minority])
df_downsampled

     feature1  feature2  target
613 -1.147525  5.284447       0
524 -0.448392  5.777222       0
690 -1.576233  5.187258       0
457  1.601908  3.919538       0
85  -1.085902  3.224757       0
..        ...       ...     ...
995  1.376371  2.845701       1
996  2.239810  0.880077       1
997  1.131760  1.640703       1
998  2.902006  0.390305       1
999  2.697490  2.013570       1

[200 rows x 3 columns]

In [49]:
df_downsampled['target'].value_counts()

target
0    100
1    100
Name: count, dtype: int64