##Label Encoding

- Assign a unique intefer to each category
- example: colour red, green blue
 - red-1
 - green - 2
 - blue - 3

In [1]:
import pandas as pd

In [2]:
df= pd.DataFrame({'color': ['blue', 'green', 'red', 'red', 'green'],})
df

   color
0   blue
1  green
2    red
3    red
4  green

In [3]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [4]:


data_labelled=le.fit_transform(df[['color']])

/Users/ramchandraghmire/Library/Python/3.9/lib/python/site-packages/sklearn/preprocessing/_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [5]:
data_labelled

array([0, 1, 2, 2, 1])

In [7]:
le.transform(['green'])

array([1])

# Ordinal Encoding
- used to encode the data if they have cerains rank like school< campus < university=1 2 3

In [8]:
from sklearn.preprocessing import OrdinalEncoder

In [9]:
df= pd.DataFrame({'size':['small', 'medium', 'large', 'medium', 'small' ]})
df

     size
0   small
1  medium
2   large
3  medium
4   small

In [10]:
df['size'].value_counts()

size
small     2
medium    2
large     1
Name: count, dtype: int64

In [ ]:
ord_enc=OrdinalEncoder()#without specifying the order of categories 
data_ordinal_labelled= ord_enc.fit_transform(df[['size']])
data_ordinal_labelled

array([[2.],
       [1.],
       [0.],
       [1.],
       [2.]])

In [12]:
ord_enc_labelled= OrdinalEncoder(categories=[['small', 'medium', 'large']])  # specify the order of categories 
data_ordinal_labelled= ord_enc_labelled.fit_transform(df[['size']])
data_ordinal_labelled

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.]])

In [16]:
pd.concat([df, pd.DataFrame(data_ordinal_labelled, columns=['size_labelled'])], axis=1)

     size  size_labelled
0   small            0.0
1  medium            1.0
2   large            2.0
3  medium            1.0
4   small            0.0